<footer class="footer-area pt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="content">
          <div class="logo">
            <a href="index.html"><img src="assets/images/logo2.png" width="119" height="35" alt="logo" /></a>
          </div>
          <p>
            Lorem ipsum dolor sit amet, mattetur adipiscing elit, sed do eiusmod.
          </p>
          <div class="subscribe">
            <h4>Join Newsletter</h4>
          </div>
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fa-brands fa-pinterest" style="color: #ffffff;"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="content ml-15">
          <h3>Our Service</h3>
          <ul class="footer-list">
            <li><a href="#">Read Good Books</a></li>
            <li><a href="#">Fast Service</a></li>
            <li><a href="#">Good Condition</a></li>
            <li><a href="#">Silence Place To work</a></li>
            <li><a href="#">Wireless Connection</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="content">
          <h3>Quick Links</h3>
          <ul class="footer-list">
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="solutions.html">Books</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="privecy.html">Publisher</a></li>
            <li><a href="terms-condition.html">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="content contacts">
          <h3 class="ml-40">Contact</h3>
          <ul class="footer-list foot-social">
            <li><a href="tel:+1123456789"><i class="fa-solid fa-mobile" style="color: #ffffff;"></i> +91
                999-803-1219</a>
            </li>
            <li><a href="tel:+1975456789"> <i class="fa-solid fa-phone" style="color: #ffffff;"></i> +91
                800-042-6964</a>
            </li>
            <li><a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#4c24292020230c3c2d3f23622f2321"><i
                  class="fa-sharp fa-solid fa-envelope" style="color: #ffffff;"></i> <span class="__cf_email__"
                  data-cfemail="94fcf1f8f8fbd4e4f5e7fbbaf7fbf9">mohantyprabhat9@gmail.com</span></a></li>
            <li><a
                href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#e4979194948b9690a49485978bca878b89"><i
                  class="fa-sharp fa-solid fa-envelope" style="color: #ffffff;"></i><span class="__cf_email__"
                  data-cfemail="cdbeb8bdbda2bfb98dbdacbea2e3aea2a0">myOffice@gmail.com</span></a></li>
            <li> <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> A1/402, Luxaria, Surat, Inida</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <ul class="menu text-end">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="contactus">About</a></li>
            <li><a routerLink="aboutus">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <p class="right">
            Copyright @2022 Paso. Designed By
            <a href="https://hibootstrap.com/" target="_blank">Lanet Team</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>