<!-- spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgb(50, 105, 138)" type="square-jelly-box"
  [fullScreen]="true">
  <h3 style="color: rgb(255, 255, 255);"> Please wait it's Loading... </h3>
</ngx-spinner>
<section class="signup-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="signup-form">
          <div class="section-tittle text-center" style="color: #5170ec;">
            <u>
              <h2 style="color: #5170ec;">Forget Password</h2>
            </u>
          </div>
          <form [formGroup]="forgetform" (ngSubmit)="forgetpassword()">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="email" name="email" id="Email" placeholder="Email"
                    formControlName="Email">
                  <!-- Validation -->
                  <div *ngIf="Email && Email.invalid && Email.touched">
                    <div class="text-danger" *ngIf="Email?.errors?.['required']">Email is required</div>
                  </div>
                  <!-- Validation -->
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="box-btn signup-btn" [disabled]="forgetform.invalid">
                  Reset Password
                </button>
              </div>
              <div class="col-12 text-center">
                <p class="al-acc">
                  Remember the password &nbsp;?
                  <a routerLink="/signin">
                    <u>
                      <h6 style="color: #5170ec;">Sign In</h6>
                    </u>
                  </a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>