<!-- spinner -->
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgb(50, 105, 138)" type="square-jelly-box"
  [fullScreen]="true">
  <h3 style="color: rgb(255, 255, 255);"> Please wait it's Loading... </h3>
</ngx-spinner> -->

<section class="signup-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="signup-form">
          <div class="section-tittle text-center" style="color: #5170ec;">
            <u>
              <h2 style="color: #5170ec;">Reset Your Password</h2>
            </u>
          </div>
          <form [formGroup]="passwordresetform" (ngSubmit)="userresetpassword()">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="password" name="oldpassword" placeholder="Old Password"
                    formControlName="oldPassword" autocomplete="oldPassword">
                  <!-- Validation -->
                  <div *ngIf="oldPassword && oldPassword.invalid && oldPassword.touched">
                    <div class="text-danger" *ngIf="oldPassword?.errors?.['required']">Old Password is required</div>
                  </div>
                  <!-- Validation -->
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="password" name="newPassword" placeholder="New Password"
                    formControlName="newPassword" autocomplete="newPassword">
                  <!-- Validation -->
                  <div *ngIf="newPassword && newPassword.invalid && newPassword.touched">
                    <div class="text-danger" *ngIf="newPassword?.errors?.['required']">New Password is required
                    </div>
                    <div class="text-danger" *ngIf="newPassword?.errors?.['pattern']">New Password should have
                      atleast 1
                      uppercase, 1
                      lowercase, 1 digit and 1 special character and should have atleast 6 characters </div>
                  </div>
                  <!-- Validation -->
                </div>
              </div>

              <div class="col-12 text-center">
                <button class="box-btn signup-btn" [disabled]="passwordresetform.invalid">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>