<div class="container mt-5" *ngIf="issuedbook">
  <div class="col-md-12 col-12 col-sm-12">
    <div class="card">
      <div>
        <h4 class="text-center"><ins> Pending Books</ins></h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th class="text-center">#</th>
                <th>Book Image</th>
                <th>Book Name</th>
                <th>Applied Date</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
              <tr *ngFor="let issuebook of issuedbook">
                <td class="text-center">1</td>
                <td><img [src]="'https://localhost:7085/img/'+issuebook.images[0]" [alt]="issuebook.bookName"
                    width="100"></td>
                <td>{{issuebook.bookName}}</td>
                <td>{{issuebook.appliedDate | date:'dd/MM/yyyy'}}</td>
                <td>{{issuebook.dueDate | date:'dd/MM/yyyy'}}</td>
                <td><span class="badge text-bg-primary">{{issuebook.status}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>