<!-- spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgb(50, 105, 138)" type="square-jelly-box"
  [fullScreen]="true">
  <h3 style="color: rgb(255, 255, 255);"> Please wait it's Loading... </h3>
</ngx-spinner>

<section class="signup-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="signup-form">
          <div class="section-tittle text-center">
            <h2 style="color: #5170ec;"><u>Update Your Profile</u></h2>
          </div>
          <form [formGroup]="updateuser" (ngSubmit)="updateUser()">
            <div class="row">
              <div class="row mb-2">
                <div class="col-md-12 col-sm-12">
                  <div class="mb-3 text-center">
                    <img [src]="counter > 0 && imageUrl ?  imageUrl : updateuser.controls['ProfilePicture'].value"
                      alt="Profile Picture">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="Firstname">First Name</label>
                    <input class="form-control" type="text" name="Firstname" id="Firstname" placeholder="Firstname"
                      formControlName="FirstName">
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="Middlename">Middle Name</label>
                    <input class="form-control" type="text" name="Middlename" id="Middlename" placeholder="MiddleName"
                      formControlName="MiddleName">
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="Lastname">Last Name</label>
                    <input class="form-control" type="text" name="Lastname" id="Lastname" placeholder="Lastname"
                      formControlName="LastName">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="Gender">Gender</label>
                    <select class="form-control" formControlName="Gender">
                      <option disabled value="">Select Gender</option>
                      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="PhoneNumber">Phone Number</label>
                    <input type="number" class="form-control" id="PhoneNumber" placeholder="9998882020"
                      formControlName="PhoneNumber">
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="DOB">Date of birth</label>
                    <input class="form-control" type="date" id="DOB" name="date" formControlName="DOB">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="State">State</label>
                    <select class="form-control" formControlName="State">
                      <option disabled value="">Select State</option>
                      <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="City">City</label>
                    <select class="form-control" formControlName="City">
                      <option disabled value="">Select City</option>
                      <option *ngFor="let city of cities" [value]="city">{{city}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="Pincode">Pincode</label>
                    <input class="form-control" type="text" name="name" id="Pincode" placeholder="Pincode"
                      formControlName="Pincode">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="FullAddress">Full Address</label>
                    <textarea class="form-control" id="FullAddress" rows="3" placeholder="Enter your address"
                      formControlName="FullAddress"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="mb-3">
                    <label for="ProfilePic">Profile Picture</label>
                    <input class="form-control" type="file" id="ProfilePic" (change)="onChange($event)">
                  </div>
                </div>
              </div>
              <input type="hidden" formControlName="Email">
              <div class="col-12 text-center">
                <button class="box-btn signup-btn" href="#" [disabled]="updateuser.invalid">
                  Sign Up
                </button>
              </div>
              <div class="col-12 text-center">
                <p class="al-acc">
                  Already have an account?
                  <a routerLink="/signin"> Sign In</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <input type="file" (change)="onFileSelected($event)" accept="image/*">

<img [src]="imageUrl" *ngIf="imageUrl"> -->