<!-- spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgb(50, 105, 138)" type="square-jelly-box"
  [fullScreen]="true">
  <h3 style="color: rgb(255, 255, 255);"> Please wait it's Loading... </h3>
</ngx-spinner>

<section class="signup-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="signup-form">
          <div class="section-tittle text-center" style="color: #5170ec;">
            <u>
              <h2 style="color: #5170ec;">Reset Password</h2>
            </u>
          </div>
          <form [formGroup]="resetform" (ngSubmit)="resetpassword()">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="password" name="password" placeholder="Password"
                    formControlName="Password" autocomplete="Email">
                  <!-- Validation -->
                  <div *ngIf="Password && Password.invalid && Password.touched">
                    <div class="text-danger" *ngIf="Password?.errors?.['required']">Password is required</div>
                    <div class="text-danger" *ngIf="Password?.errors?.['pattern']">Password should have atleast 1
                      uppercase, 1
                      lowercase, 1 digit and 1 special character and should have atleast 6 characters </div>
                  </div>
                  <!-- Validation -->
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="password" name="confirmpassword" placeholder="ConfirmPassword"
                    formControlName="ConfirmPassword" autocomplete="current-password">
                  <!-- Validation -->
                  <div *ngIf="ConfirmPassword && ConfirmPassword.invalid && ConfirmPassword.touched">
                    <div class="text-danger" *ngIf="ConfirmPassword?.errors?.['required']">ConfirmPassword is required
                    </div>
                    <div class="text-danger" *ngIf="ConfirmPassword?.errors?.['pattern']">ConfirmPassword should have
                      atleast 1
                      uppercase, 1
                      lowercase, 1 digit and 1 special character and should have atleast 6 characters </div>
                  </div>
                  <!-- Validation -->

                  <!-- Validation -->
                  <div class="text-danger" *ngIf="resetform.errors?.['mismatch']">Password and Confirm-Password mismatch
                  </div>
                  <!-- Validation -->
                </div>
              </div>

              <div class="col-12 text-center">
                <button class="box-btn signup-btn" [disabled]="resetform.invalid">
                  Reset Password
                </button>
              </div>
              <!-- <div class="col-12 text-center">
                <p class="al-acc">
                  Remember the password &nbsp;?
                  <a routerLink="/signin">
                    <u>
                      <h6 style="color: #5170ec;">Sign In</h6>
                    </u>
                  </a>
                </p>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>